<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Pz4BwzB10fomNnf2QXMohEOxcCMP-p1MgdhOs-XIzSs" />
  <title>EMONT Frenzy</title>

  <!-- Facebook OG Tag -->
  <meta property="og:url"                content="http://frenzy.emontalliance.com/"/>
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="EMONT Frenzy" />
  <meta property="og:description"        content="A Blockchain game of EMONT Alliance, running on the decentralized Ethereum network. Join the epic battle of Ether monsters underwater." />
  <meta property="og:image"              content="http://frenzy.emontalliance.com/assets/images/fb_banner.png" />
   <!--END Facebook OG Tag-->

  <!-- Favicon -->
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

  <!-- Details -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A Blockchain game of EMONT Alliance, running on the decentralized Ethereum network. Join the epic battle of Ether monsters underwater.">
  <meta name="author" content="contact@etheremon.com">
  <title>EmonTeam</title>
  <!-- End Details -->

  <!-- Libs -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
  <!-- End Libs -->

  <!-- External JS -->
  <script src="assets/web3.min.js"></script>
  <script src="assets/core.js?v=<%= htmlWebpackPlugin.options.customHash %>"></script>
    <script src="assets/emontfrenzy.js?v=<%= htmlWebpackPlugin.options.customHash %>"></script>
  <!-- End External JS-->

  <!-- Internal JS-->
  <link rel="stylesheet" href="styles.css?v=<%= htmlWebpackPlugin.options.customHash %>">
  <!-- End Internal JS-->

</head>

<body id="body">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120372033-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    var GA_TRACKING_ID = 'UA-120372033-1';
    // gtag('config', 'UA-120372033-1');
  </script>
  <!-- END Global site tag (gtag.js) - Google Analytics -->

  <div id="root"></div>

  <!-- Bundles -->
  <script src="bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>" type="text/javascript"></script>
  <!-- End Bundles -->
</body>

</html>