.txn-bar__wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 1001;
}
.txn-bar__container-btn, .txn-bar__container {
  position: absolute;
  bottom: -5px;
  right: 0;
}

.txn-bar__container {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.txn-bar__container .field {
  text-align: left;
}
