@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.help-bar {
  position: fixed;
  bottom: 8px;
  right: 16px;

  .help-bar__help {
    background-color: #8aa1e1;
    padding: 8px;
    border-radius: 100px;
    color: $white95;
    text-transform: capitalize;
    font-weight: $font-weight-bolder;
    font-size: $font-size-smaller;
    cursor: pointer;
    @include transition-duration;

    &:hover {
      background-color: #6a7ce2;
    }
    @include mobile {
      padding: 4px 8px;
    }
    i {
      @include mobile {
        display: none;
      }
    }
  }

  i {
    margin-right: 2px;
  }

  .help-bar__buttons {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    text-align: right;
    @include slide-up;

    &--show {
      @include slide-down;
    }

    a {
      display: inline-block;
      @include transition-duration;
      img {
        width: 60px;
        height: 60px;
        display: block;
        float: right;
        @include mobile {
          width: 40px;
          height: 40px;
        }
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}