@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__button {
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid;
  font-size: $font-size-normal !important;
  cursor: pointer;
  @include border-radius(100px);
  @include transition-duration(200ms);
  position: relative;
  margin: 2px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.widget__button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.widget__button__big {
  font-size: $font-size-bigger !important;

  img {
    width: 22px !important;
    height: 22px !important;
  }
}

.widget__button__small {
  font-size: $font-size-smaller !important;
}

.widget__button__mini {
  font-size: $font-size-tiny !important;
  padding: 2px 8px;
}

@mixin widget__button__color($background-color, $color, $border-color) {
  background-color: $background-color;
  color: $color;
  border-color: $border-color;
}
.widget__button__blue {
  @include widget__button__color($blue-light, $white, $blue-dark);
}
.widget__button__blue:hover {
  @include widget__button__color($blue-dark, $white, $blue-light);
}
.widget__button__white {
  @include widget__button__color($white, $blue-light, $white-dark);
}
.widget__button__white:hover {
  @include widget__button__color($white-dark, $blue-light, $white);
}
.widget__button__primary {
  @include widget__button__color($primary, $gray-dark, $primary-dark);
}
.widget__button__primary:hover {
  @include widget__button__color($primary-dark, $gray-dark, $primary);
}

.widget__button-group {
  @include border-radius(100px);
  overflow: hidden;
  display: inline-block;
  border: 1px solid $blue-light;

  div {
    display: inline-block;
    background-color: $white;
    color: $blue-light;
    padding: 4px 20px;
    text-transform: capitalize;
    cursor: pointer;
  }
  div.active {
    display: inline-block;
    background-color: $blue-light;
    color: $white;
  }
}


.widget__button-icon {
  @include transition-duration(100ms);
  width: 36px;
  height: 36px;
  &.small {
    width: 20px;
    height: 20px;
  }
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $gray-dark;
  border: 2px solid $gray-dark;
  &.inverted {
    color: $white95;
    border: 2px solid $white95;
  }

  i {
    line-height: 100%;
    margin: 0;
  }

  &:hover {
    background: $gray-dark;
    color: $white95;
    &.inverted {
      background: $white95;
      color: $gray-dark;
    }
  }
}