@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__select {
  display: inline-flex;
  position: relative;

  .widget__dropdown__content {
    display: inline-flex;
    background-color: transparent;
    padding: 16px 30px 16px 20px;
    border: solid 1px $gray;
    border-radius: 4px;
    outline: 0;
  }

  .widget__dropdown__list {
    .widget__dropdown__item {
      padding: 16px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    border: solid;
    border-width: 0 2px 2px 0;
    padding: 2px;
    right: 8px;
    top: 50%;
    @include transform(translateY(-50%) rotate(45deg));
  }

  .widget__dropdown__content:hover {
    border-color: $primary !important;
  }

  option {
    color: $gray-dark;
    padding: 16px !important;
    text-align: right;
  }
}

.widget__select.small {
  .widget__dropdown__content {
    padding: 8px 20px 8px 12px;
  }
  .widget__dropdown__list {
    .widget__dropdown__item {
      padding:12px 16px;
    }
  }
}