@import '../../styles/variables';

.tabs-view {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.tabs-view a.item {
  font-weight: 500 !important;

  text-transform: uppercase !important;
  font-size: $font-size-smaller !important;
}

.tabs-view--centered {
  justify-content: center;
}